services:
  backend:
    # Remplacez VOTRE_NOM_UTILISATEUR par votre nom d'utilisateur GitHub (ou organisation)
    # Le tag 'main' correspond à la branche construite dans votre workflow
    image: ghcr.io/bbsebb/alumni_ashs:${BACKEND_TAG:-main}
    container_name: alumni-backend
    ports:
      - "8080:8080" # Port hôte : Port conteneur (Spring Boot défaut)

    environment:
      # Ajoutez ici les variables d'environnement nécessaires à votre backend
      # (Exemple : connexion BDD si elle n'est pas intégrée ou gérée ailleurs)
      - SPRING_PROFILES_ACTIVE=staging
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - TWILIO_PHONE_NUMBER=${TWILIO_PHONE_NUMBER}

      - KC_AUTH_SERVER_URL=${KC_AUTH_SERVER_URL}
      - KC_REALM=${KC_REALM}
      - KC_FRONTEND_CLIENT_ID=${KC_FRONTEND_CLIENT_ID}
      - KC_REDIRECT_URL=${KC_REDIRECT_URL}

      - OAUTH2_ISSUER_URI=${OAUTH2_ISSUER_URI}
      - OAUTH2_JWK_SET_URI=${OAUTH2_JWK_SET_URI}

      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-alumni-service:5432/ashs_alumni
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - LOGGING_LEVEL_ROOT=${LOGGING_LEVEL_ROOT:-WARN}
      - LOGGING_LEVEL_APP=${LOGGING_LEVEL_APP:-INFO}
      - LOGGING_LEVEL_DOMAIN=${LOGGING_LEVEL_DOMAIN:-INFO}

      - SERVER_PORT=${SERVER_PORT}

      - TWILIO_WEBHOOK_URL=${TWILIO_WEBHOOK_URL}

      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_USERNAME=${MAIL_USERNAME}

      - LOKI_URL=${LOKI_URL}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - observability-network
      - keycloak-network
      - ashs-alumni-network

  frontend:
    # Remplacez VOTRE_NOM_UTILISATEUR par votre nom d'utilisateur GitHub
    image: ghcr.io/bbsebb/alumni_ashs-frontend:${FRONTEND_TAG:-main}
    container_name: alumni-frontend
    ports:
      - "80:80" # Le Dockerfile frontend expose le port 80 via Nginx
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - ashs-alumni-network

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ashs_alumni
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    container_name: postgres-alumni-service
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ashs-alumni-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ashs_alumni" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s



volumes:
  postgres_data:
    driver: local


networks:
  observability-network:
    external: true
  keycloak-network:
    external: true
  postes-sql-network:
    driver: bridge
  ashs-alumni-network:
    driver: bridge