
:host{
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.participants-empty {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-style: italic;
  opacity: 0.8;
}

mat-card-content{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px auto 16px;

}
