@if (isLoading()) {
  <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
} @else if (hasError()) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <mat-icon color="warn" style="vertical-align: middle; margin-right: 8px;">error</mat-icon>
        Une erreur est survenue
      </mat-card-title>
      <mat-card-subtitle>Veuillez réessayer plus tard.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
} @else {
  <mat-card appearance="outlined" id="participant-list">
    <mat-card-header>
      <mat-card-title>Participants</mat-card-title>
      <mat-card-subtitle>{{ participantsNumber() }} inscrit(s)</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
        @for (participant of participants(); track participant.id) {
          <app-participant-card [participant]="participant"></app-participant-card>
        } @empty {
          <div class="participants-empty">
            <mat-icon>info</mat-icon>
            <span>Aucun participant</span>
          </div>
        }
    </mat-card-content>
  </mat-card>
}
