@use '@angular/material' as mat;

:host {
  @include mat.form-field-density(-3);
  display: block;
  max-width: 800px;
  margin: 0 auto;
}


// Main filters container
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

// Button toggle groups styling
mat-button-toggle-group {

}

mat-form-field {
  height: 45px;
}




// Responsive design
@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

