@if (hasError()) {
  <app-load-error message="Le code de validation est incorrect ou inconnu" backLink="/former-teammates"></app-load-error>
} @else if (isLoading()) {
  <app-loading></app-loading>
} @else {
  <app-former-form (formerTeammateFormValueSubmitted)="onSubmit($event)"
                   [prefillFormerTeammate]="prefillFormerTeammateFormSignal()" action="Valider vos informations"
                   [isLoading]="isSubmitting()"
                   title="Validation de vos informations">
  </app-former-form>
}
