<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Import des réglages par défaut de Spring Boot (couleurs, etc.) -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="lokiUrl" source="loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
        </format>
    </appender>

    <!-- Configuration par défaut (pour tous les profils si non surchargé) -->
    <root level="INFO">
        <appender-ref ref="LOKI" />
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Profil DEV : Log dans la console uniquement avec niveau DEBUG pour l'app -->
    <springProfile name="debug">
        <!-- Pas besoin de redéfinir root ici si c'est le même,
             mais on peut changer le niveau de log spécifique -->
        <logger name="fr.hoenheimsports" level="DEBUG"/>
    </springProfile>

</configuration>