<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Compte créé</mat-card-title>
    <mat-card-subtitle>Étape suivante : validation par email</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <p>
      Nous vous avons envoyé un email de confirmation.
      Pour activer votre compte, veuillez cliquer sur le lien contenu dans cet email.
    </p>
    <p>
      Une fois votre compte activé, vous pourrez vous connecter et vous inscrire à la soirée.
    </p>
  </mat-card-content>
</mat-card>
