#contactStatus{
  cursor: help;
}

.contact-status-no-requested {
  text-decoration: line-through;
}



.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: var(--mat-sys-surface-container-high);
}

.mat-mdc-row:first-child:hover .mat-mdc-cell {
  border-top: none;
}

.mat-mdc-no-data-row {

  text-align: center;
  vertical-align: baseline;
  td {
    padding: 16px;
  }
}

