@use '@angular/material' as mat;

mat-card {
  max-width: 600px;
  margin: 16px auto;
}

:host {
  @include mat.expansion-overrides((
    container-elevation-shadow: none
  ));
}


// Header styling
mat-card-header {
  flex-direction: column;

  mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center; // Changé pour aligner en haut
    flex-wrap: wrap;
    gap: 12px;

    app-gender-icon {
      align-self: flex-start;
    }

    #left-mat-card-title {
      flex: 1;

      font-size: clamp(2rem, 5vw, 3rem);
      line-height: 1;
      font-weight: 500;

    }

    #right-mat-card-title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8xp;
      flex-shrink: 0;

    }
  }

  mat-card-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  }
}

// Content sections
mat-card-content {
  section {
    margin-bottom: 24px;

  }

  // Contact info styling
  .contact-info {
    p {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 12px;
    }
  }

  // Roles section
  mat-chip-set {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  // History section
  .history-list {
    .history-item {
      padding: 12px 0;

      p {
        margin: 4px 0;
      }
    }

    mat-divider {
      width: 20%;
      margin: 12px auto;
    }

    mat-divider:last-child {
      display: none;
    }
  }

  // Expansion panel styling
  mat-expansion-panel {
    mat-panel-title {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;

}
