@use '@angular/material' as mat;
/* Alignement sur le design de app-event-registration-guard */
.guard-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0 12px;
}

mat-card {
  width: 500px;
  max-width: 880px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 16px;
}

mat-card-header {
  padding-bottom: 10px;
}


/* Header colorimétrie et contraste identiques au guard */
mat-card-header {
  background: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
  @include mat.card-overrides((
    subtitle-text-color: var(--mat-sys-on-tertiary),
  ));
}

mat-card-content {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.items-title {
  font-weight: 600;
}

.game-item {
  display: flex;
  flex-direction: row;
  gap:12px;

  mat-icon {
    padding: 0 20px 0;
  }
}

.item-text {
  display: flex;
  flex-direction: column;     /* titre + desc l’un sous l’autre */
}

.item-title {
  font-weight: 600;
}

.item-desc {
  font-size: 12px;
}

.deadline-info {
  margin-top: 24px;
  text-align: center;
  font-weight: 600;
  color: var(--mat-sys-primary);
}
